#division1{
    width: 40%;
    height: 400px;
    margin-right: 500px;
  margin: -50px auto;
    background-color: antiquewhite;
  }

  #addUserBttn{
      color: black;
      background-color:burlywood;
      font-family: 'Playfair Display', serif;
  }
  
  
